@tailwind base;
@tailwind components;
@tailwind utilities;
.card {
    margin-bottom: 20px; /* Menambahkan margin bawah pada card */
}

.card-body {
    padding-bottom: 0; /* Menghilangkan padding bawah pada card-body */
}

@media (min-width: 768px) {
    .card-body {
        padding: 20px; /* Menambahkan padding pada card-body untuk tampilan desktop */
    }
}

@media (max-width: 767px) {
    .justify-content-center {
        flex-direction: column; /* Mengubah orientasi flexbox pada kontainer menjadi kolom di perangkat kecil */
        align-items: center; /* Mengatur konten agar berada di tengah secara vertikal */
    }
}
